
<div id="callout" style="position: absolute; z-index: 2;">
    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="275px" height="76px"
         style="position: absolute; left: -135px; top: -76px;"
         version="1.1" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd"
         viewBox="0 0 157 43"
         xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
            <linearGradient id="id0" gradientUnits="userSpaceOnUse" x1="76.9099" y1="3.5549" x2="76.9099" y2="37.9263">
                <stop offset="0" stop-color="#201E1E"></stop>
                <stop offset="0.278431" stop-color="#606062"></stop>
                <stop offset="1" stop-color="#201E1E"></stop>
            </linearGradient>
        </defs>
        <g id="Layer_x0020_1">
            <metadata id="CorelCorpID_0Corel-Layer"/>
            <path fill="#D2D3D5" fill-opacity="0.501961" d="M8 6l143 0c3,0 5,2 5,5l0 9c0,3 -2,5 -5,5l-64 0 -3 8 -4 10 -4 -10 -3 -8 -64 0c-3,0 -5,-2 -5,-5l0 -9c0,-3 2,-5 5,-5z"></path>
            <path fill="url(#id0)" stroke="#4B4B4D" stroke-width="0.562963" stroke-linecap="round" stroke-linejoin="round" d="M5 0l143 0c3,0 5,3 5,6l0 10c0,3 -2,6 -5,6l-64 0 -3 9 -4 11 -4 -11 -3 -9 -64 0c-3,0 -5,-3 -5,-6l0 -10c0,-3 2,-6 5,-6z"></path>
        </g>
    </svg>
    <div id="panel" style="position: absolute; width: 240px; height: 32px; left:-120px; top:-80px; z-index: 2; background-color: transparent; color: white" >
        <div id="calloutText" class="calloutText"></div>
    </div>
</div>

