<div>
    <span class="mapsJsTextOrange headerText" style="margin-left: 8px; float: left;">maps</span>
    <span class="headerText" style="float: left; margin-top: 6px;">js</span>
    <span class="headerText" style="margin-left: 4px; float: left;"> / durandal sample</span>
    
    <div class="headerText2" style="margin-right: 16px; float:right; display: inline;"><input type="radio" value="1" name="freqGroup" data-bind="checked: pastDays" />day</div>
    <div class="headerText2" style="margin-right: 16px; float:right; display: inline;" ><input type="radio" value="7" name="freqGroup" data-bind="checked: pastDays" />week</div>
    <span class="headerText" style="margin-right: 16px; float:right;">earthquakes in the past:</span>
</div>
